.container {
  height: 90%;
}

.product:hover {
  box-shadow: 0 0 5px black;
}

.product {
  display: flex;
  flex-direction: column;
  height: 240px;
  width: 240px;
  background-color: white;
  padding: 10px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 5px black;
  }

  &__img-wrapper {
    height: 50%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  &__title {
    font-weight: 700;
  }

  &__price {
    font-weight: 100;
    opacity: 0.5;
  }

  &__sum {
    font-weight: 100;
    opacity: 0.5;
  }

  &__icon {
    height: 100%;
    cursor: pointer;
  }

  &__function {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__quantity {
    font-size: 30px;
  }
}

.product--green {
  background-color: #81e36f;
}
